body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black ;

}

.timer-container{
    background-color: #011b31;
    border: 5px solid gray;
    border-radius: 5px;
    margin-top: 19%;
    margin-left: 10%;
    margin-right: 10%;
    
}

h2{
    color: white;
    text-align: center;
    font-size: 120px;
    margin: 0;
}